body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0072E3;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #f9f9f9;
}
.logo{
    display: flex;
    align-items: center;
}
.header a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    
}
.bgfoto{
    height: 600px;
    background-image: url("background1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%; ;
}
.img{
    height: 200px;
    width: 400px;
}
.fotografite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.qyteti{
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #0072E3;


    padding: 10px 20px;
}
.footer a{
    margin: 0 15px;
    text-decoration: none;
    color:white;
}
.footer-links{
    display: flex;
    align-items: end center;
    list-style: none;
    
}
