body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0072E3;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #E30000;
}
.logo{
    display: flex;
    align-items: center;
}
.header a{
    margin: 0 15px;
    text-decoration: none;
    color: #E30000;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    
}
