body{
    margin: 0;
    background-color: rgb(242, 159, 107);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0A1A2F;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: orange;
}
.logo{
    display: flex;
    align-items: center;
}
.logo:hover{
    cursor: pointer;
}
.header a{
    margin: 0 15px;
    text-decoration: none;
    color: orange;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    
}
.bgfoto{
    height: 600px;
    display: flex;
    background-image: url("photos/background1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%; ;
    opacity: 0.8;
}
.img{
    height: 200px;
    width: 400px;
}
.fotografite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.qyteti{
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color:orange;
    background-color: #0A1A2F;
    padding: 10px 20px;
}
.footer a{
    margin: 0 15px;
    text-decoration: none;
    color:orange;
}
.footer-links{
    display: flex;
    align-items: end center;
    list-style: none;
    
}
.bgfoto input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #fff2ea;
    color: white;
    cursor: pointer;
}
.bgfoto button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px 25px;
    font-size: 18px;
    border-radius: 15px;
    background-color: #fff2ea;
    color: #0A1A2F;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.bgfoto button a{
    text-decoration: none;
    color: #0A1A2F;
}
.above-fotografite h3{
    text-align: center;
    font-size: 28px;
    color: #0A1A2F;
    margin-top: 20px;
    font-family: bahnschrift;
}


/*login css------------------------------------------------------------*/
.login{
    display : flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    outline-color: black;
    background-color: rgb(242, 159, 107);
    text-align: center;
    width: 350px;
    height: 500px;
    margin: 150px auto;
    border-color: black;
    border-style: solid;
    border-radius: 6px; 
}
.login input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 2px;
}
.login button{
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color:  #0A1A2F;
    outline-color: black;
    padding: 10px;
    font-weight: bold;
}
.login button a{
    text-decoration: none;
    color: white;
    
}
.middle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}
.background1 {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    filter: blur(10px);      
    display: block;
}
.background1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
}


/*register css------------------------------------------------------------*/
.register {
    display: flex;
    align-items: center;
    flex-direction: column;
    outline-color: black;
    background:rgb(242, 159, 107) ;
    width: 350px;
    height: 650px;
    margin: 120px auto;
    border-color: black;
    border-style: solid;
    border-radius: 6px; 
}
.register input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 2px;
}
.register button{
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color:  #0A1A2F;
    outline-color: black;
    padding: 10px;
    font-weight: bold;
}
.background2 {
    width: 100%;
    height: 100%;
    object-fit: cover;       
    filter: blur(10px);      
    display: block;
}
.background2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
}
.register input{
    margin: 10px 0;
    padding: 10px;
    width: 70%;
    border: 1px solid #090909;
    border-radius: 5px;
    
}
.register button a{
    text-decoration: none;
    color: white;
    
}


/*about us css------------------------------------------------------------*/
.about-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.section{
    flex:1.5;
    padding: 20px;
}
.about-image{
    flex:1;
}
.about-body{
    background-color: #EAF3FF;
}
.section h2{
    text-align: center;
}
.about-apps a img{
    height: 40px;
    width: 40px;
}
.page1-body{
    background-color:   #D6ECFF;
}
.bgfoto1{
    height: 600px;
    display: flex;
    background-image: url("photos/dubai.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%; ;
    opacity: 0.9;
}


/*flights css------------------------------------------------------------*/
.rubrika button{
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #0A1A2F;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


