.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.header a{
    margin: 0 15px;
    text-decoration: none;
    color: #555;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    
}
