body{
    margin: 0;
    background-color: rgb(242, 159, 107);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0A1A2F;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: orange;
}
.logo{
    display: flex;
    align-items: center;
}
.header a{
    margin: 0 15px;
    text-decoration: none;
    color: orange;
}
.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    
}
.bgfoto{
    height: 600px;
    display: flex;

    background-image: url("background1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100%; ;
    opacity: 0.8;
}
.img{
    height: 200px;
    width: 400px;
}
.fotografite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}
.qyteti{
    display: flex;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color:orange;
    background-color: #0A1A2F;


    padding: 10px 20px;
}
.footer a{
    margin: 0 15px;
    text-decoration: none;
    color:orange;
}
.footer-links{
    display: flex;
    align-items: end center;
    list-style: none;
    
}
.bgfoto input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 20px;
    background-color: #fff2ea;
    color: white;
    cursor: pointer;
}
.bgfoto button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 18px 25px;
    font-size: 18px;
    border-radius: 15px;

    background-color: #fff2ea;
    color: #0A1A2F;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.latestvideo h3{
    text-align: center;
    font-size: 28px;
    color: #0A1A2F;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}